body{
  background-color: #2D4354;
}

.container{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
  background-color: #3799DE;
  border-radius: 10px;
  /*Endrer på hele nettsidens innhold*/
}

.row1, .row2, .row3, .tittel{
  /*endrer på menyen, billedtittelem, og billedgalleriet*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
}


.row1{   /*endrer kun på menyen*/
  order: 2;
}

.tittel{
    /*endre billedgalleri tittelen*/
  order: 3;
  background-color: #eee;
  padding: 20px;
  margin: 5px;
  flex-basis: 100%;
  border-radius: 10px;
}

.tittel h1{  /*endre billedgalleri tittelen*/
  text-align: center;
  width: 100%;
}

.row2{   /*endre billedgalleri rekke nr1*/
  order: 4;
}

.row3{ /*endre billedgalleri rekke nr2*/
  order: 5;
}

.header1{ /*endre bakgrunnsbildene i topppen på de ulike nettsiden*/
  background-image: url("../img/img1.jpeg");
}
.header2{
  background-image: url("../img/img2.jpeg");
}
.header3{
  background-image: url("../img/img3.jpeg");
}
.header4{
  background-image: url("../img/img4.jpeg");
}
.header5{
  background-image: url("../img/img5.jpeg");
}


.header{ /*endre på boksen der tittelen og bakgrunssbildene står i */
  flex-basis: 100%;
  height: 500px;
  background-color: #eee;
  padding: 5px;
  margin: 5px;
  order: 1;
  border-radius: 10px;


  position: relative;

 background-position: center;
 background-size:cover;
 background-repeat: no-repeat;
 background-attachment: fixed;

}

.box{ /*endre på tittelen i toppen*/
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #2D4354;
  color: #fff;
  padding: 6px;
  border-radius: 10px;
  opacity: 0.70;
}

.header .box h1{ /*endre på tittelen i toppen*/

  width: 100%;
  text-align: center;
  color: #eee;
  font-size: 54px;
  letter-spacing: 8px;
  text-transform: uppercase;
}


.menu{ /*endre på menyen*/
  flex-basis: 150px;
  background-color: #44A7EB;
  padding: 5px;
  margin: 5px;
  order: 1;
  border-radius: 10px;
}

.mainContent{ /*endre på hovedinnholdet, teksten om meg selv*/
  flex: 1;
  background-color: #eee;
  padding: 20px;
  margin: 5px;
  order: 2;
  border-radius: 10px;
}
.Content2{ /*endre på  utseende i sekundærinnholdet, youtube eller kart*/

  background-color: #eee;
  padding: 20px;
  margin: 5px;
  order: 3;
  flex-basis: 200px;
  border-radius: 10px;
}

.Content3, .Content4, .Content5, .Content6, .Content7, .Content8{ /*endre på bildene*/

  background-color: #eee;
  padding: 20px;
  margin: 0.5%;

  order: 1;
  flex-basis: 29%;
  border-radius: 10px;
}




footer{ /*endre på footeren i bunnen*/
  background-color: #eee;
  padding-left: 15px;
  margin: 5px;
  order: 5;
  flex-basis: 100%;
  border-radius: 10px;
  font-weight: 600;
}

li{ /*endre på elementene i lister*/
  display: block;
  width: 100%;
  height: 30px;

}
ul{ /*endre på uordnede lister*/
  padding: 0;
  margin: 5px;
}

ul a{ /*endre på linkene i uordnede lister*/
  display: block;
   width: 120px;
   padding: 10px;
   border-radius: 5px;
   margin: 10px;
   color: #FAFAFA;
   font-weight: bold;
   text-decoration: none;
   background-color: #3799DE;
   text-align: center;
}

ul a:hover,  .active /*endre på linkene i uordnede lister når de er aktive og når en holder over dem*/
{
  background-color: #2D4354;
}

video{ /*endre på videoene*/
  width: 100%;
  border-radius: 10px;
}

img{ /*endre på bildene*/
  width: 100%;
  border-radius: 10px;
}

.sosialelinker{ /*endre på linkene i sosiale linker divet*/
  text-decoration: none;
  color: #3799DE;
}

.sosialelinker:hover{/*endre på linkene i sosiale linker divet, når en holder over dem*/
  text-decoration: underline;

}

table{ /*endre på tabellen*/
  line-height: 1.8;
}
